*.pyc
*.egg-info
*.eggs
.ipynb_checkpoints

# data
*.txt
*.out
*.csv
*.xml
out

!requirements.txt

dist
.cache
.pytest_cache

bower_components
node_modules

htmlcov
.coverage
.tox

docs/_build
docs/apidocs
docs/modules.rst
docs/scriptcwl.rst
